
.editor-cart {
  margin: auto;
  min-width: 150px;
  max-width: calc(100% - 40px);
  width: 500px;
}

.editor-form {

}

.example-full-width {
  width: 100%;
}

.form-controlls {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
