<mat-card *ngIf="initialized" class="editor-cart">
  <form class="editor-form" [formGroup]="form">
    <div *ngFor="let control of controls">
      <div [ngSwitch]="control.controlType">
        <mat-form-field *ngSwitchCase="'textbox'" class="example-full-width">
          <input matInput [placeholder]="control.label" [type]="control.type"
                 [id]="control.key" [formControlName]="control.key"><!--[appControlMask]="control.mask"-->
        </mat-form-field>
        <mat-form-field *ngSwitchCase="'dropdown'" class="example-full-width">
          <mat-label>Роль</mat-label>
          <mat-select [id]="control.key" [formControlName]="control.key">
            <mat-option *ngFor="let option of control.options" [value]="option.key">
              {{option.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-checkbox *ngSwitchCase="'checkbox'" [id]="control.key"
                      [formControlName]="control.key">
                      {{control.label}}
        </mat-checkbox>
      </div>
    </div>

    <div class="form-controlls">
      <button mat-button color="primary" (click)="cancel()">Отменить</button>
      <button mat-raised-button color="accent" (click)="save()">Сохранить</button>
    </div>

  </form>
</mat-card>
