
mat-card {
  margin: auto;
}

.example-form {
  min-width: 150px;
  max-width: calc(100% - 40px);
  width: 500px;
}

.example-full-width {
  width: calc(100% - 40px);
}

.form-controlls {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
