<div class="table-container">
  <button *ngIf="!addDisabled" mat-raised-button color="accent" class="add-button"
          [routerLink]="[editRoute, 'add', currentDate.getFullYear(), currentDate.getMonth(), currentDate.getDate(), dayType]">
    Добавить доставку
  </button>

  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID.</th>
      <td mat-cell *matCellDef="let element" (click)="rowClick(element)"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef> Время</th>
      <td mat-cell *matCellDef="let element" (click)="rowClick(element)"> {{element.time}} </td>
    </ng-container>

    <ng-container matColumnDef="invoices">
      <th mat-header-cell *matHeaderCellDef> Счета</th>
      <td mat-cell *matCellDef="let element" (click)="rowClick(element)">
        <span *ngFor="let invoice of element.invoices"> {{invoice}} </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="organization">
      <th mat-header-cell *matHeaderCellDef> Организация</th>
      <td mat-cell *matCellDef="let element" (click)="rowClick(element)"> {{element.organization}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Адрес</th>
      <td mat-cell *matCellDef="let element" (click)="rowClick(element)"> {{  element.address }} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Телефон</th>
      <td mat-cell *matCellDef="let element" (click)="rowClick(element)"> {{element.phone}} </td>
    </ng-container>

    <ng-container matColumnDef="recipientName">
      <th mat-header-cell *matHeaderCellDef> Получатель</th>
      <td mat-cell *matCellDef="let element" (click)="rowClick(element)"> {{element.recipientName}} </td>
    </ng-container>

    <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef> Комментарий</th>
      <td mat-cell *matCellDef="let element" (click)="rowClick(element)"> {{element.comment}} </td>
    </ng-container>

    <ng-container matColumnDef="fixedDeliveries">
      <th mat-header-cell *matHeaderCellDef> Направление</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="!editDisabled">
          <button mat-button
                  [matMenuTriggerFor]="menuFixedDelivery"> {{getFixedDelivery(element).id>0 ? getFixedDelivery(element).name : 'Выбрать' }} </button>
        <mat-menu #menuFixedDelivery="matMenu">
          <button *ngFor="let v of getFixedDeliveries()" mat-menu-item (click)="setFixedDelivery(element,v.id)">
            {{v.name}}
          </button>
        </mat-menu>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="vehicle">
      <th mat-header-cell *matHeaderCellDef> Машина</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="!editDisabled">
          <button mat-button
                  [matMenuTriggerFor]="menuVehicle"> {{element.vehicle ? element.vehicle.name : 'Выбрать' }} </button>
        <mat-menu #menuVehicle="matMenu">
          <button *ngFor="let v of vehicles" mat-menu-item (click)="setVehicle(element,v.id)">
            {{v.name}}
          </button>
        </mat-menu>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="createrUser">
      <th mat-header-cell *matHeaderCellDef> Менеджер</th>
      <td mat-cell *matCellDef="let element"
          (click)="rowClick(element)"> {{element.createrUser?.firstName}} {{element.createrUser?.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" class="app-table-row-actions">
        <span *ngFor="let action of additionalActions">
          <button *ngIf="action.avaibleCallback(element)" mat-icon-button aria-hidden="false" aria-label=""
                  (click)="action.callback(element.id)">
            <mat-icon color="primary">{{action.icon}}</mat-icon>
          </button>
        </span>
        <span *ngIf="!editDisabled">
          <button *ngIf="dayType==1" mat-icon-button aria-hidden="false" aria-label="На вторую половину дня"
                  (click)="setType(element,2)">
            <mat-icon color="primary">arrow_downward</mat-icon>
          </button>
          <button *ngIf="dayType==2 || dayType==3" mat-icon-button aria-hidden="false" aria-label="На первую половину дня"
                  (click)="setType(element, dayType==2 ? 1 : 2)">
            <mat-icon color="primary">arrow_upward</mat-icon>
          </button>
          <button *ngIf="dayType==2" mat-icon-button aria-hidden="false" aria-label="На внутреннюю доставку"
                  (click)="setType(element, 3)">
            <mat-icon color="primary">arrow_downward</mat-icon>
          </button>
          <input class="delivery-date-picker" matInput [matDatepicker]="picker" [min]="getStartDate()"
                 placeholder="Choose a date"
                 (dateChange)="setDate(element,$event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker aria-label="Переместить"></mat-datepicker>
          <button *ngIf="!editDisabled" mat-icon-button aria-hidden="false" aria-label="Удалить"
                  (click)="remove(element.id)">
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.disabled-row]="isRowDisabled(row)"></tr>
  </table>

  <!--mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100, 200]" pageSize="20" showFirstLastButtons
                 [length]="count"></mat-paginator-->
</div>
