<div class="table-container">
  <button mat-raised-button color="accent" class="add-button"
          [routerLink]="[editRoute, 'add', currentDate.getFullYear(), currentDate.getMonth(), currentDate.getDate(), dayPart]">
    Добавить доставку
  </button>

  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID.</th>
      <td mat-cell *matCellDef="let element" [routerLink]="[editRoute, element.id]"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef> Время</th>
      <td mat-cell *matCellDef="let element" [routerLink]="[editRoute, element.id]"> {{element.time}} </td>
    </ng-container>

    <ng-container matColumnDef="invoices">
      <th mat-header-cell *matHeaderCellDef> Счета</th>
      <td mat-cell *matCellDef="let element" [routerLink]="[editRoute, element.id]">
        <span *ngFor="let invoice of element.invoices"> {{invoice}} </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="organization">
      <th mat-header-cell *matHeaderCellDef> Организация</th>
      <td mat-cell *matCellDef="let element" [routerLink]="[editRoute, element.id]"> {{element.organization}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Адрес</th>
      <td mat-cell *matCellDef="let element" [routerLink]="[editRoute, element.id]"> {{  element.address }} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Телефон</th>
      <td mat-cell *matCellDef="let element" [routerLink]="[editRoute, element.id]"> {{element.phone}} </td>
    </ng-container>

    <ng-container matColumnDef="recipientName">
      <th mat-header-cell *matHeaderCellDef> Получатель</th>
      <td mat-cell *matCellDef="let element" [routerLink]="[editRoute, element.id]"> {{element.recipientName}} </td>
    </ng-container>

    <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef> Комментарий</th>
      <td mat-cell *matCellDef="let element" [routerLink]="[editRoute, element.id]"> {{element.comment}} </td>
    </ng-container>

    <ng-container matColumnDef="vehicle">
      <th mat-header-cell *matHeaderCellDef> Машина</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button
                [matMenuTriggerFor]="menuVehicle"> {{element.vehicle ? element.vehicle.name : 'Выбрать' }} </button>
        <mat-menu #menuVehicle="matMenu">
          <button *ngFor="let v of vehicles" mat-menu-item (click)="setVehicle(element,v.id)">
            {{v.name}}
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <ng-container matColumnDef="createrUser">
      <th mat-header-cell *matHeaderCellDef> Менеджер</th>
      <td mat-cell *matCellDef="let element"
          [routerLink]="[editRoute, element.id]"> {{element.createrUser?.firstName}} {{element.createrUser?.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" class="app-table-row-actions">
        <input class="delivery-date-picker" matInput [matDatepicker]="picker" [min]="getStartDate()" placeholder="Choose a date"
               (dateChange)="setDate(element,$event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker aria-label="Переместить" ></mat-datepicker>

        <button mat-icon-button aria-hidden="false" aria-label="Удалить" (click)="remove(element.id)">
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!--mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100, 200]" pageSize="20" showFirstLastButtons
                 [length]="count"></mat-paginator-->
</div>
