<div class="delivery-calendar">
  <div class="delivery-calendar__controls">
    <mat-icon aria-hidden="false" aria-label="Предыдущий месяц" color="primary"
              [routerLink]="['/delivery/month',previosMonth.getFullYear(),previosMonth.getMonth()]">keyboard_arrow_left
    </mat-icon>
    <div> {{getMonthName(currentDay.getMonth())}} </div>
    <div> {{currentDay.getFullYear()}} </div>
    <mat-icon aria-hidden="false" aria-label="Следующий месяц" color="primary"
              [routerLink]="['/delivery/month',nextMonth.getFullYear(),nextMonth.getMonth()]">keyboard_arrow_right
    </mat-icon>
  </div>
  <div class="delivery-calendar__header">
    <div *ngFor="let day of getWeek()" class="delivery-calendar__header-date"
         [class.delivery-calendar__date-weekend]="isWeekend(day)">
      {{getDayShortName(day)}}
    </div>
  </div>
  <mat-divider></mat-divider>
  <div *ngFor="let row of calendarData" class="delivery-calendar__row">
    <div *ngFor="let date of row" class="delivery-calendar__date"
         [class.delivery-calendar__date-today]="isToday(date)"
         [class.delivery-calendar__date-other-month]="isOtherMonth(date)"
         [class.delivery-calendar__date-weekend]="isWeekend(date)"
         [routerLink]="['/delivery/day',date.getFullYear(),date.getMonth(),date.getDate()]">
      {{date.getDate()}}
    </div>
  </div>
</div>
